body {
    font-family: Convergence;
    background-color: rgb(228, 235, 237);
}


/*---------------list---------------*/

#leftList {
    position: absolute;
    width: 230px;
    height: calc(100vh + 100px);
    background-color: rgb(10, 54, 105);
}

#leftList ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 50px;
    justify-content: space-around;
}

#leftList li {
    width: fit-content;
    padding: 30px 0;
}

#leftList a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#leftList a:hover {
    font-size: 22px;
}


/*----------- tables ------------*/

.boxWithAddOpt {
    width: 700px;
    display: flex;
}

.addForms {
    width: 50%;
    padding: 150px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addForms div {
    width: 60%;
    padding-top: 10px;
}

.addForms p {
    padding-left: 10px;
    padding-bottom: 5px;
}

.addForms input {
    padding-top: 5px;
}

.inpText {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
}

.inpText:focus {
    outline: none;
}

.addButtons {
    width: 70px;
    height: 40px;
    border-radius: 25px;
    background: rgb(27, 188, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.addButtons:focus {
    outline: none;
    border: 2px solid rgb(39, 48, 148);
    color: rgb(39, 48, 148);
}

.table {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
}

table {
    border-radius: 25px;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 5px solid rgb(228, 235, 237);
    background: rgb(27, 188, 154);
    color: white;
    border-radius: 15px;
}

.titles {
    font-weight: bolder;
}

h2 {
    padding-bottom: 50px;
    padding-top: 50px;
}

main {
    height: 100vh;
    padding-bottom: 100px;
}

.hidden {
    display: none;
}

.addForms {
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 400px) {
    .boxWithAddOpt {
        width: 100%;
    }
    #leftList ul {
        flex-direction: row;
        padding: 30px;
    }
    #leftlist {
        width: 100%;
        height: 80px;
    }
    #leftList li {
        padding: 0px;
    }
    #leftList a {
        font-size: 13px;
    }
    #leftList a:hover {
        font-size: 15px;
    }
    .table {
        margin-left: 0px;
    }
    table {
        width: 50%;
    }
    h2 {
        padding-top: 150px;
    }
    .addForms {
        position: absolute;
        margin-top: 300px;
    }
    #settingsFooter {
        margin-top: 200px;
    }
    td {
        padding: 8px;
    }
    #userlist table {
        font-size: 9px;
    }
    #contactList table {
        font-size: 12px;
    }
    #reviewList table {
        font-size: 10px;
    }
    #reviewList h2 {
        padding-top: 100px;
        padding-bottom: 10px;
    }
    #reviewList {
        height: 100%;
    }
    #staffList table {
        margin-left: 30px;
    }
    #staffList form {
        margin-top: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .boxWithAddOpt {
        width: 100%;
    }
    #leftList ul {
        flex-direction: row;
        padding: 30px;
    }
    #leftlist {
        width: 100%;
        height: 80px;
    }
    #leftList li {
        padding: 0px;
    }
    #leftList a {
        font-size: 13px;
    }
    #leftList a:hover {
        font-size: 15px;
    }
    .table {
        margin-left: 40px;
    }
    table {
        width: 90%;
    }
    h2 {
        padding-top: 150px;
    }
    .addForms {
        position: absolute;
        margin-top: 450px;
    }
    td {
        padding: 15px;
    }
    #userlist table {
        font-size: 15px;
    }
    #contactList table {
        font-size: 16px;
    }
    #reviewList table {
        font-size: 15px;
    }
    #reviewList h2 {
        padding-top: 100px;
        padding-bottom: 10px;
    }
    #staffList table {
        margin-left: 30px;
    }
    #staffList form {
        margin-top: 300px;
    }
}