body {
    font-family: Convergence;
    background-color: rgb(228, 235, 237);
}

td {
    padding: 20px;
    border: 2px solid rgb(27, 188, 154);
    background: rgb(27, 188, 154);
    color: white;
    border-radius: 5%;
}

#userlist {
    margin: 10%;
    padding-bottom: 10%;
}

.titles {
    font-weight: bolder;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 48, 148);
    padding-top: 20px;
}

#adminsettings {
    display: flex;
    align-items: center;
    justify-content: center;
}